* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #2F3136;
    color: #fff;
}

header {
    height: 100px;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #202225;
    width: 1300px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.modulo-area {
    width: 350px;
    background-color: #37393E;
    border-radius: 15px;
    padding: 15px;
    transition: 0.2s;
}

.modulo-title {
    background-color: #202225;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

.modulo-item {
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.modulo-container .modulo-item:last-child{
    margin-bottom: 10px;
}

.modulo-item:hover {
    background-color: #202225;
}

.modulo-item:hover .sm-ball{
    background-color: green;
}

.sm-ball {
    display: inline-block;
    background-color: #202225;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

/* Responsividade do vídeo */

.video-area{
    flex: 1;
    border-radius: 15px;
    padding: 15px;
    background-color: #383b44;
}

.video-frame {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.active {
    background-color: green;
}